# Ambiente de execução
NODE_ENVIRONMENT=

# MongoDB
MONGO_URI=
CRON_SCHEDULE=

# Alerta de preço (em %)
PRICE_DROP_THRESHOLD=

# E-mail para alertas (opcional)
ALERT_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=